<div class="login">
  <div class="container">
    <div class="form">

    <h1>Add students</h1>

    <h2>Current members</h2>
    <% @current_users.each do |user| %>
      <h5> <%= user.name + " (" + user.rank + ")" %> </h5>
    <% end %>

    <h2>Add users by email:</h2>
    <h4><%= link_to "You can find emails here", users_path %></h4>

    <%= form_tag({controller: "courses", action: "update_users"}, method: "post") do %>
    <%= text_field_tag(:email) %>
    <%= submit_tag("Invite") %>
    <% end %>

    </div>
  </div>
</div>
